.menu-container {
  width: 100%;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.food-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1250px) {
  .food-container {
    display: flex;
    flex-direction: column;
  }
}