.banner-container {
  position: relative;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-background {
  width: 100%;
  height: 100%;
  opacity: 90%;
  object-fit: cover;
}

.banner-content {
  position: relative;
  z-index: 1; /* Ensure content is displayed above the video */
  text-align: center;
  color: #fff;
  padding: 20px;
}

.banner-content h1 {
  color: #DB4437;
  font-size: 100px;
  margin-top: 100px;
}

.banner-content p {
  margin: 10px 0;
  font-size: 32px;
  color: #fff;
}